/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/Authifi.Core/bin/Debug/netstandard2.0/Authifi.Core.dll
/Authifi.Core/bin/Debug/netstandard2.0/Authifi.Core.pdb
/Authifi.Core/obj/Authifi.Core.csproj.nuget.cache
/Authifi.Core/obj/Authifi.Core.csproj.nuget.dgspec.json
/Authifi.Core/obj/Authifi.Core.csproj.nuget.g.props
/Authifi.Core/obj/Authifi.Core.csproj.nuget.g.targets
/Authifi.Core/obj/Debug/netstandard2.0/Authifi.Core.assets.cache
/Authifi.Core/obj/Debug/netstandard2.0/Authifi.Core.csproj.FileListAbsolute.txt
/Authifi.Core/obj/Debug/netstandard2.0/Authifi.Core.csprojAssemblyReference.cache
/Authifi.Core/obj/Debug/netstandard2.0/Authifi.Core.dll
/Authifi.Core/obj/Debug/netstandard2.0/Authifi.Core.pdb
/Authifi.Core/obj/project.assets.json
/Authifi.Core/obj/Release/netstandard2.0/Authifi.Core.assets.cache
/Authifi.Tests.MSTest/obj/Authifi.Tests.MSTest.csproj.nuget.cache
/Authifi.Tests.MSTest/obj/Authifi.Tests.MSTest.csproj.nuget.dgspec.json
/Authifi.Tests.MSTest/obj/Authifi.Tests.MSTest.csproj.nuget.g.props
/Authifi.Tests.MSTest/obj/Debug/netcoreapp3.1/Authifi.Tests.MSTest.assets.cache
/Authifi.Tests.MSTest/obj/Debug/netcoreapp3.1/Authifi.Tests.MSTest.csprojAssemblyReference.cache
/Authifi.Tests.MSTest/obj/project.assets.json
/Authifi.Tests.MSTest/obj/Release/netcoreapp3.1/Authifi.Tests.MSTest.assets.cache
/Authifi.Tests.MSTest/obj/x64/Debug/netcoreapp3.1/Authifi.Tests.MSTest.assets.cache
/Authifi.Tests.MSTest/obj/x64/Release/netcoreapp3.1/Authifi.Tests.MSTest.assets.cache
/Authifi.Tests.MSTest/obj/x64/Release/netcoreapp3.1/Authifi.Tests.MSTest.csprojAssemblyReference.cache
/Authifi.Tests.MSTest/obj/x86/Debug/netcoreapp3.1/Authifi.Tests.MSTest.assets.cache
/Authifi.Tests.MSTest/obj/x86/Debug/netcoreapp3.1/Authifi.Tests.MSTest.csprojAssemblyReference.cache
/Authifi.Tests.MSTest/obj/x86/Release/netcoreapp3.1/Authifi.Tests.MSTest.assets.cache
/Authifi.Tests.MSTest/obj/x86/Release/netcoreapp3.1/Authifi.Tests.MSTest.csprojAssemblyReference.cache
/Authifi/.vs/Authifi/v16/.suo
/Authifi/bin/Debug/netcoreapp3.1/Authifi.Core.dll
/Authifi/bin/Debug/netcoreapp3.1/Authifi.Core.pdb
/Authifi/bin/Debug/netcoreapp3.1/Authifi.dll
/Authifi/bin/Debug/netcoreapp3.1/Authifi.exe
/Authifi/bin/Debug/netcoreapp3.1/Authifi.pdb
/Authifi/bin/Debug/netcoreapp3.1/Authifi.runtimeconfig.dev.json
/Authifi/obj/Authifi.csproj.nuget.cache
/Authifi/obj/Authifi.csproj.nuget.dgspec.json
/Authifi/obj/Authifi.csproj.nuget.g.props
/Authifi/obj/Debug/netcoreapp3.1/App.g.cs
/Authifi/obj/Debug/netcoreapp3.1/App.g.i.cs
/Authifi/obj/Debug/netcoreapp3.1/Authifi.assets.cache
/Authifi/obj/Debug/netcoreapp3.1/Authifi.csproj.FileListAbsolute.txt
/Authifi/obj/Debug/netcoreapp3.1/Authifi.csproj.GenerateResource.cache
/Authifi/obj/Debug/netcoreapp3.1/Authifi.csprojAssemblyReference.cache
/Authifi/obj/Debug/netcoreapp3.1/Authifi.dll
/Authifi/obj/Debug/netcoreapp3.1/Authifi.pdb
/Authifi/obj/Debug/netcoreapp3.1/Authifi_MarkupCompile.cache
/Authifi/obj/Debug/netcoreapp3.1/Authifi_MarkupCompile.i.cache
/Authifi/obj/Debug/netcoreapp3.1/Authifi_MarkupCompile.lref
/Authifi/obj/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.cs
/Authifi/obj/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.i.cs
/Authifi/obj/Debug/netcoreapp3.1/Views/KaraokePage.g.cs
/Authifi/obj/Debug/netcoreapp3.1/Views/KaraokePage.g.i.cs
/Authifi/obj/Debug/netcoreapp3.1/Views/LogInWindow.g.cs
/Authifi/obj/Debug/netcoreapp3.1/Views/LogInWindow.g.i.cs
/Authifi/obj/Debug/netcoreapp3.1/Views/MainPage.g.cs
/Authifi/obj/Debug/netcoreapp3.1/Views/MainPage.g.i.cs
/Authifi/obj/Debug/netcoreapp3.1/Views/ProfilePage.g.cs
/Authifi/obj/Debug/netcoreapp3.1/Views/ProfilePage.g.i.cs
/Authifi/obj/Debug/netcoreapp3.1/Views/SettingsPage.g.cs
/Authifi/obj/Debug/netcoreapp3.1/Views/SettingsPage.g.i.cs
/Authifi/obj/Debug/netcoreapp3.1/Views/ShellWindow.g.cs
/Authifi/obj/Debug/netcoreapp3.1/Views/ShellWindow.g.i.cs
/Authifi/obj/project.assets.json
/Authifi/obj/Release/netcoreapp3.1/App.baml
/Authifi/obj/Release/netcoreapp3.1/App.g.cs
/Authifi/obj/Release/netcoreapp3.1/Authifi.assets.cache
/Authifi/obj/Release/netcoreapp3.1/Authifi_MarkupCompile.cache
/Authifi/obj/Release/netcoreapp3.1/Authifi_MarkupCompile.lref
/Authifi/obj/Release/netcoreapp3.1/GeneratedInternalTypeHelper.g.cs
/Authifi/obj/Release/netcoreapp3.1/Styles/MetroWindow.baml
/Authifi/obj/Release/netcoreapp3.1/Styles/Themes/HC.Dark.Blue.baml
/Authifi/obj/Release/netcoreapp3.1/Styles/Themes/HC.Light.Blue.baml
/Authifi/obj/Release/netcoreapp3.1/Views/KaraokePage.g.cs
/Authifi/obj/Release/netcoreapp3.1/Views/LogInWindow.g.cs
/a
/Authifi/obj/Release/netcoreapp3.1/Views/MainPage.g.cs
/Authifi/obj/Release/netcoreapp3.1/Views/ProfilePage.g.cs
/Authifi/obj/Release/netcoreapp3.1/Views/SettingsPage.g.cs
/Authifi/obj/Release/netcoreapp3.1/Views/ShellWindow.g.cs
/.vs/Authifi/v16/.suo
/Authifi/obj/Debug/netcoreapp3.1/Authifi.designer.runtimeconfig.json
/a

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
